.container-dark {
  padding: 0rem;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-image: url("../../public/assets/landing-bg-no-gradient.png");
  background-size: cover;
}

.container-light {
  padding: 0rem;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-image: url("../../public/assets/landing-bg-no-gradient.png");
  background-size: cover;
}